body {
    font-family: sans-serif;
    font-size: 12px;
    padding: 12px;
}

section {
    padding: 12px;
    background: aliceblue;
    margin-bottom: 2em;
    border-radius: 4px;
}

section section {
    background: antiquewhite;
}
