funk-media-picker {
    white-space: normal;
    line-height: 1.3;
    flex-grow: 1;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    cursor: pointer;
    flex-direction: column;
}
funk-media-picker * {
    pointer-events: none
}

funk-media-picker:hover,
funk-media-picker.dragging-over {
    background-color: #ddd;
}

funk-media-picker:hover {
    background-color: #ddd;
}

funk-media-picker > :nth-child(2) {
    margin-top: 5px;
}
